*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background: url(/Picture/pexels-cliford-mervil-2469122.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Conten{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 0.8fr);
    gap: 2px;
    margin: center;
}

.Titule{
    width: 200px;
    margin: 80px 700px;
    position: relative;
    padding: 10px 10px;
    display:flex;
    justify-content:center;
    backdrop-filter: blur(5px);
    background-color: rgba(250, 250, 250, 0.6);
    color: rgb(31, 34, 197);
    transition: all 1500ms;
}

.Conten1{
    width: 550px;
    margin: 300px 230px;
    position: fixed;
    padding: 5px 10px;
    display:flex;
    justify-content:left;
    backdrop-filter: blur(5px);
    background-color: rgba(250, 250, 250, 0.6);
    transition: all 1500ms;
}

.Conten2{
    width: 550px;
    margin: 300px 830px;
    position: fixed;
    padding: 5px 10px;
    display:flex;
    justify-content:right;
    backdrop-filter: blur(5px);
    background-color: rgba(250, 250, 250, 0.6);
    transition: all 1500ms;
}

.Conten1 header{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.Conten2 header{
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.Conten11{
    font-weight: 400; 
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Conten21{
    font-weight: 400; 
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Conten11 h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(7, 99, 173);
}

.Conten21 h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(7, 99, 173);
}

p{
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover{
    background: white;
    color: black;
}

.Enviar{
    padding: 10px 40px;
    margin-top: 1px;
    margin-left: 10px;
    border: none;
    font-size: 14px;
    background: rgb(12, 199, 168);
    color: white;
    cursor: pointer;
    outline: none;
}
