*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(/Picture/pexels-dids-3705645.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.Galery{
    font-family: 'open sans';
}

.Galery h1{
    text-align: center;
    margin: 20px 0px 15px 0px;
    font-weight: 300;
    color: white;
}

.Linea{
    border-top: 5px solid rgb(42, 52, 199);
    margin-bottom: 40px;
}

.Conten{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.Conten .imag{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px black;
}

.imag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #027ac485;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 2s ease;
}

.Overlay h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.imag:hover .Overlay{
    height: 100%;
    cursor: pointer;
}
